.dataTable{


    .dataGrid{
        background: white;
        padding: 20px;

        .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
        }

        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: 50%;
        }
      
        .action{
            display: flex;
            gap: 10px;
            img{
                height: 30px;
                width: 30px;
                cursor: pointer;
            }
            .delete{
                cursor: pointer;
            }

        }

    }
}